{% extends 'shop/base.html' %}
{% block title %} Tracker {% endblock %}
{% block body %}

<div class="container">
    <div class="col my-4">
        <h5>Please enter your order ID and email to track your order</h5>
        <form class="row g-3" method="post" action="#" id="trackerform">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="orderId" class="form-label">Order ID</label>
                <input type="text" class="form-control" id="orderId" name="orderId">
            </div>
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="col my-4" style="display: none;" id="track_order">
        <h5>Track your order below</h5>
        <ol class="list-group list-group-numbered" id="items">
        </ol>
    </div>

    <div class="col my-4" style="display: none;" id="item_detail">
        <h5>Your order detail is below</h5>
        <ol class="list-group" id="item_heading">
        </ol>
        <ol class="list-group list-group-numbered" id="order_items">
        </ol>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $('#trackerform').submit(function (event) {
        $('#items').empty();

        var form_data = {
            'order_id': $('input[name=orderId]').val(),
            'email': $('input[name=inputEmail]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };

        $.ajax({
            url: "{% url 'trackingstatus'  %}",
            method: 'POST',
            data: form_data,
            success: function (data) {
                if (data != '{}') {
                    parsed_data = JSON.parse(data);
                    console.log(parsed_data);
                    if (parsed_data[0].length > 0 && parsed_data[0] != {}) {
                        // Display Order tracking data and purchased items data only when 
                        // there's data found otherwise by defult they're hidden
                        document.getElementById('track_order').style.display = "block";
                        document.getElementById('item_detail').style.display = "block";

                        // Reset data present in tracking data and purchased items data
                        // if present previously otherwise, we have data duplicity  
                        document.getElementById('item_heading').innerHTML = "";
                        document.getElementById('order_items').innerHTML = "";
                        for (i = 0; i < parsed_data[0].length; i++) {
                            date = new Date(parsed_data[0][i]['update_time']);
                            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                            let text = parsed_data[0][i]['text'];
                            let update_time = date.toLocaleDateString(undefined, options);
                            const seconds = String(date.getSeconds()).padStart(2, '0');
                            time = ' ' + date.getHours() + ':' + date.getMinutes() + ':' + seconds;
                            update_time += time;
                            myStr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                    ${text}
                                    </div>
                                    <span class="badge bg-primary rounded-pill">${update_time}</span>
                                </li>`
                            $('#items').append(myStr);
                        }
                        mystr_heading = `
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <strong>Product Name</strong>
                            </div>
                            <span class="badge bg-primary rounded-pill"><strong>Quantity</strong></span>&nbsp;
                            <span class="badge bg-primary rounded-pill"><strong>Price</strong></span>
                            </li>
                            `
                        $('#item_heading').append(mystr_heading);
                        cart = JSON.parse(parsed_data[1]);
                        for (var item in cart) {
                            let qty = cart[item][0];
                            let name = cart[item][1];
                            let price = cart[item][2];
                            console.log(`price: ${price}`);
                            price = parseInt(price.slice(4));

                            myStr = `
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                  ${name}
                              </div>
                              <span class="badge bg-primary rounded-pill">${qty}</span>&nbsp;
                              <span class="badge bg-primary rounded-pill">${price}</span>
                            </li>`
                            $('#order_items').append(myStr);
                        }
                    } else {
                        myStr = `
                                <div class="ms-2 me-auto">
                                 <strong>Sorry, No order found with this order id. Please check order number and type correct email id.</strong>
                                </div>
                            `
                        $('#items').append(myStr);
                    }
                } else {
                    console.log('No data to display');
                    document.getElementById('track_order').style.display = "block";
                    myStr = `
                                <div class="ms-2 me-auto">
                                 <strong>Sorry, No order found with this order id. Please check order number and type correct email id.</strong>
                                </div>
                            `
                    $('#items').append(myStr);
                    document.getElementById('item_detail').style.display = "none";
                }

            }
        });
        event.preventDefault();
    });

</script>

{% endblock %}